<!DOCTYPE html>
<html>
  <head>
    <title>바른 교실</title>
    <link rel="stylesheet" href="css/sytle.css">
    <link rel="stylesheet" href="css/c3.min.css">
    <script src="js/d3.min.js"></script>
    <script src="js/c3.min.js"></script>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <div class="left-spacer"></div>
      <div class="title"><span><a class="white_a" href="/">바른 교실</a></span></div>
      <div class="right-spacer"></div>
      <nav>
        <ul>
          <a href="/"><li>내 자세</li></a>
          <a href="/class"><li>바른 우리 교실</li></a>
          <a href="/device"><li>장치 관리</li></a>
        </ul>
      </nav>
    </header>
    <aside>
      <div class="menuTitle">메뉴</div>
      <div>
        <ul>
          <a href="/class"><li>우리반 자세 랭킹</li><a>
          <a href="/studyTime"><li>수업 관리</li></a>
        </ul>
      </div>
    </aside>
    <section>
      <div class="plate">
        <h1>우리반 자세 랭킹</h1>
        <form action="/ranking" method="get">
          <div class="selectArea">
            <div class="listArea">
              <div class="optionName">수업시간 선택</div>
              <select name="time" id="timeList">
                <option value="0" selected>전체</option>
                <option value="1">1교시</option>
                <option value="2">2교시</option>
                <option value="3">3교시</option>
              </select>
            </div>
            <button id="viewBtn" type="submit"><span>통계<br/>보기</span></button>
          </div>
        </form>
        <div class="periodArea"><span class="disable" id="period">1교시</span></div>
        <div id="chart" class="disable"></div>
        <script>
          function getQueryStringObject() {
              var a = window.location.search.substr(1).split('&');
              if (a == "") return {};
              var b = {};
              for (var i = 0; i < a.length; ++i) {
                  var p = a[i].split('=', 2);
                  if (p.length == 1)
                      b[p[0]] = "";
                  else
                      b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
              }
              return b;
          }
          if(<%= mode %> == 1) {
            var period1 = [4.2, 3.4, 5.3, 4.6, 5, 2.1, 1.6, 1.2, 5];
            var period2 = [1.2, 5.6, 3.2, 4.3, 5.5, 1.3, 2.3, 5, 2.1];
            var period3 = [5.2, 3.1, 4.6, 1.3, 0.8, 4.3, 4.7, 6, 4.3];

            var chartEle = document.getElementById('chart');
            var periodTextArea = document.getElementById('period');
            chartEle.classList.remove('disable');
            periodTextArea.classList.remove('disable');

            var score = [<%= score %>];
            var avgScore = 0;
            for(var i = 0; i < score.length; i++) {
              avgScore += score[i];
            }
            avgScore /= score.length;
            
            var chartData = ['번호 별 학생 자세점수', 0, avgScore.toFixed(1)];
            if(getQueryStringObject()['time'] == 0) {
              for(i = 0; i < period1.length; i++) {
                chartData.push(((period1[i] + period2[i] + period3[i])/3).toFixed(1));
              }
              periodTextArea.innerHTML = "전체 시간";
            }
            else if(getQueryStringObject()['time'] == 1) {
              for(i = 0; i < period1.length; i++) {
                chartData.push(period1[i]);
              }
              periodTextArea.innerHTML = "1교시";
            }
            else if(getQueryStringObject()['time'] == 2) {
              for(i = 0; i < period1.length; i++) {
                chartData.push(period2[i]);
              }
              periodTextArea.innerHTML = "2교시";
            }
            else if(getQueryStringObject()['time'] == 3) {
              for(i = 0; i < period1.length; i++) {
                chartData.push(period3[i]);
              }
              periodTextArea.innerHTML = "3교시";
            }

            var chart = c3.generate({
              bindto: '#chart',
              data: {
                columns: [
                  chartData
                ],
                type: 'bar'
              },
              axis: {
                x: {
                  min: 1,
                  tick: {
                    values: [0,1,2,3,4,5,6,7,8,9,10]
                  }
                },
                y: {
                  show: false
                }
              },
              color: {
                pattern: ['#6FE6BE']
              }
            });
          }
        </script>
      </div>
    </section>
    <footer>
      <div>Copyright(C) 2019. SparkMakers(BetaMan). All right reversed.</div>
      <div>E-Mail: skymin0417@gmail.com</div>
    </footer>
  </body>
</html>